body {
  background-color: #232324;
  color: white;
}

.App {
  text-align: center;
}
a {
  color: white;
}
img{
  width: 16rem;
  border-radius: 5px;
  object-fit: cover;
  aspect-ratio: 1;
}
.continents-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.continent-card{
  position: relative;
  border-radius: 5px;
}
.text-over-image{
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  text-align: left;
  background: linear-gradient(0deg, black 15%, transparent);
  position: absolute;
  bottom: 0;
}
.image-indi{
  width: 25rem;
  margin-right: 2rem;
}
.container-indi{
  text-align: left;
  width: 20rem;
}
span{
  font-weight: bolder;
  font-size: 1.2rem;
  color: blue;
}